<footer class="footer bg-gray">
	<div class="container text-center">
		<p class="margin-none padding-none">
			<i>
				Todos los derechos reservados <%= Time.now.strftime("%Y") %>&nbsp;©&nbsp;
				<b><%= link_to "Lutheran World Relief", "https://lwr.org/", target:"_black", class:"darkpurple-color", title:"Ir a Lutheran World Relief" %></b>
			</i>
		<p class="margin-none padding-none">
			<i>
				Diseño y Desarrollo por: <b><%= link_to "Code Castle El Salvador", "http://www.codecastle.com.sv", target:"_black", class:"darkblue-color", title:"Ir a Code Castle El Salvador" %></b>
			</i>
		</p><br>
	</div>
</footer>