<div class="col-md-8 offset-md-2 max">
  <%= bar_chart [
        ["BRECHA PROMEDIO (%)", porc],
        ["BRECHA OBTENIDA (%)", gap]
      ],
      colors: ["#9FD52E", "#666"],
      stacked: true %>
  <br>
</div>