<div class="row" style="margin-bottom: 70px; page-break-inside: avoid; ">
  <div class="col-5">
    <p class="darkblue-color"><%= description %></p>
    <%= pie_chart data, colors: colors, stacked: true  %>
  </div>
  <div class="col-7">
    <h4><b><%= title %></b></h4>
    <p style="font-size: 12pt"><span class="aqua-color"><b>Recomendación:</b></span> <%= recommendation.html_safe %></p>
  </div>
</div>
