<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
      body {
          font-size: 9px;
          margin: 0;
          padding: 0;
      }
      .footer {
          width: 100%;
          border-top: 1px solid gray;
          padding-top: 5px;
          position: relative;
          height: 20px;
      }
      .left {
          float: left;
      }
      .right {
          float: right;
      }
  </style>
</head>
<body>
<div class="footer">
  <div class="left">
    Lutheran World Relief: Caja de herramientas de género
  </div>
  <div class="right">
    Página <span>[page]</span> de <span>[toPage]</span>
  </div>

</div>
</body>
</html>
